<h2>Regarde et change tes infos si besoin <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :prenom,
                input_html: { autocomplete: "prénom"} %>
    <%= f.input :nom,
                input_html: { autocomplete: "nom"} %>
    <%= f.input :introduction,
                input_html: { autocomplete: "introduction"} %>
    <%= f.input :emploi_voulu,
                input_html: { autocomplete: "emploi voulu"} %>
    <%= f.input :ambition,
                input_html: { autocomplete: "ambition"} %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :telephone,
                input_html: { autocomplete: "téléphone"} %>
    <%= f.input :adresse,
                input_html: { autocomplete: "adresse"} %>
    <%= f.input :password,
                hint: "Si tu ne souhaite pas changer ton mot de passe, n'y youche pas",
                required: false,
                input_html: { autocomplete: "nouveau mot de passe" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "nouveau mot de passe" } %>
    <%= f.input :current_password,
                hint: "Obligé de mettre ton mot de passe actuelle pour valider les changements",
                required: true,
                input_html: { autocomplete: "mot de passe actuelle" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: 'btn btn-success' %>
  </div>
<% end %>

<%= link_to "Back", :back %>
