<div class="my-3">
  <h1>Contact</h1>

<%# Methode 1 : Card avec infos cachées %>
  <div class="card">
    <p>
      <span><%= image_tag "icons/phone-call.png" %> Téléphone</span>
      <span class="hidden-info"><%= link_to @anais.telephone, "tel:#{@anais.telephone}"%></span>
    </p>
    <p>
      <span><%= image_tag "icons/email.png" %> Email</span>
      <span class="hidden-info"><%= link_to @anais.email, "mailto:#{@anais.email}"%></span>
    </p>
    <p>
      <span><%= image_tag "icons/location.png" %> Adresse</span>
      <span class="hidden-info"><%= link_to @anais.adresse, "https://www.google.com/maps/search/?api=1&query=#{CGI.escape(@anais.adresse)}", target: "_blank"%></span>
    </p>
    <p>
      <span><%= image_tag "icons/info.png" %> Infos</span>
      <span class="hidden-info">Permis B <br> Brevet de secourisme</span>
    </p>
  </div>


<%# Methode 2 : Comme sur le CV %>
  <div class="d-flex ms-5 align-items-baseline fs-4 gap-3 mt-5">
    <div class="background-green px-3 py-1">
      <i class="fa-solid fa-phone-volume icone-white"></i>
    </div>
    <%= link_to @anais.telephone, "tel:#{@anais.telephone}" %>
  </div>

  <div class="d-flex ms-5 align-items-baseline fs-4 gap-3 mt-5">
    <div class="background-green px-3 py-1">
      <i class="fa-solid fa-at icone-white"></i>
    </div>
    <%= link_to @anais.email, "mailto:#{@anais.email}" %>
  </div>

  <% if @anais.adresse.present? %>
    <div class="d-flex ms-5 align-items-center fs-4 gap-3 mt-5 text-start">
      <div class="background-green px-3 py-1">
        <i class="fa-solid fa-location-dot icone-white"></i>
      </div>
      <%= link_to @anais.adresse, "https://www.google.com/maps/search/?api=1&query=#{CGI.escape(@anais.adresse)}", target: "_blank" %>
    </div>
  <% end %>

  <div class="d-flex ms-5 align-items-baseline fs-4 gap-3 mt-5">
    <div class="background-green px-3 py-1">
      <i class="fa-solid fa-car-rear icone-white"></i>
    </div>
    <p>Permis B</p>
  </div>

<%# Methode 3 : Style carte de visite %>
  <div class="rounded-4 py-3 mt-5 special-card">
    <%= link_to "tel:#{@anais.telephone}" do %>
      <div class="special-field d-flex align-items-baseline mx-3 ps-2 fs-4 gap-3">
        <div class="ps-3 py-1">
          <i class="fa-solid fa-phone-volume"></i>
        </div>
        <p><%= @anais.telephone %></p>
      </div>
    <% end %>

    <%= link_to "mailto:#{@anais.email}" do %>
      <div class="special-field d-flex align-items-baseline mx-3 ps-2 fs-4 gap-3 mt-5">
        <div class="ps-3 py-1">
          <i class="fa-solid fa-at"></i>
        </div>
        <p><%= @anais.email %></p>
      </div>
    <% end %>


    <% if @anais.adresse.present? %>
      <%= link_to "https://www.google.com/maps/search/?api=1&query=#{CGI.escape(@anais.adresse)}", target: "_blank" do %>
        <div class="special-field d-flex align-items-center mx-3 ps-2 fs-4 gap-3 mt-5 text-start">
          <div class="ps-3 py-1">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <p><%= @anais.adresse %></p>
        </div>
      <% end %>
    <% end %>

    <div class="special-field d-flex align-items-baseline mx-3 ps-2 fs-4 gap-3 mt-5">
      <div class="ps-3 py-1">
        <i class="fa-solid fa-car-rear"></i>
      </div>
      <p class="mb-0">Permis B</p>
    </div>
  </div>

</div>
