<h1><%= @anais.prenom %> <%= @anais.nom %></h1>
<h2><%= @anais.emploi_voulu %></h2>
<div class="image-container">
  <%= image_tag "avatar.jpg" %>
</div>
<h1>Qui suis-je ?</h1>
<p><%= @anais.introduction %></p>
<h1>Mes ambitions</h1>
<p><%= @anais.ambition %></p>
