<div class="background" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
  <button class="menu__icon">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body d-flex flex-column gap-4">
    <div class="border-bottom d-flex flex-column gap-3 border-3">
      <% if !user_signed_in? %>
        <%= link_to "connexion", new_user_session_path %>
      <% else %>
        <%= link_to "Tes infos !", edit_user_registration_path(current_user) %>
        <%= link_to "Ajouter/modifier/supprimer", users_path %>
        <%= link_to "Deconnexion", destroy_user_session_path, data: {turbo_method: :delete}%>
        <br>
      <% end %>
    </div>
    <%= link_to "Mon CV", cv_users_path %>
    <%= link_to "Mes études", etudes_realisations_path %>
    <%= link_to "Mes expériences professionnels", experiences_pro_realisations_path %>
    <%#= link_to "Loisirs", loisirs_users_path %>
    <%= link_to "Mes contact", contact_users_path %>
    <%= link_to "Mon profil", root_path %>
  </div>
</div>
